<form method="post" action="{{ path('menu_item_delete', {'menuItemId': menu_item.menuItemId}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ menu_item.menuItemId) }}">
    <button class="btn">Delete</button>
</form>
