<form method="post" action="{{ path('restaurant_delete', {'restaurantId': restaurant.restaurantId}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ restaurant.restaurantId) }}">
    <button class="btn">Delete</button>
</form>
