<form method="post" action="{{ path('menu_delete', {'menuId': menu.menuId}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ menu.menuId) }}">
    <button class="btn">Delete</button>
</form>
